<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>49F098CE-7367-4E74-BFCE-A72A95D43E92</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A36C44F8-5E24-42C2-B4AA-CC7FD51C8B84</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>419BB8EF-A3D4-401F-98AE-B2A8827695BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>TuahZh</string>
	<key>description</key>
	<string>Some basic constants for Astrophysics</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Astro-Constants</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>A36C44F8-5E24-42C2-B4AA-CC7FD51C8B84</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>con</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string>#/Users/gaoyuan/programs/anaconda/bin/python astro_cons_wf.py "{query}"
export PythonPath='/Users/gaoyuan/programs/anaconda/bin'
$PythonPath/python astro_cons_wf.py "{query}"</string>
				<key>subtext</key>
				<string>look up for constants (default unit is in cgs system)</string>
				<key>title</key>
				<string>Astro-Constants</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>49F098CE-7367-4E74-BFCE-A72A95D43E92</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Copied to Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>419BB8EF-A3D4-401F-98AE-B2A8827695BC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>419BB8EF-A3D4-401F-98AE-B2A8827695BC</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>49F098CE-7367-4E74-BFCE-A72A95D43E92</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A36C44F8-5E24-42C2-B4AA-CC7FD51C8B84</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
